* {
    
    padding: 3px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background: rgb(27, 24, 66);
}
#root {
    display: flex;
    justify-content: center;
    /* width: 500px; */
    border: 1px solid grey
}
.App {
    color:palegoldenrod;
    font-size: 14px;
    background: rgb(27, 24, 66);
    width: 1000px;
    border: 5px solid rgb(195, 187, 187);
    text-align: center;
}