.container {
    display: flex;
    flex-direction: column;
    /* justify-content:end; */
    border:1px solid green;
}


.taskBtn {
    display: flex;
    justify-content: center;
}

.btn.send{
    width: 100px;
    font-size: 18px;
    font-weight: 900;
    color: rgb(67, 87, 61);
}
.btn.delete {
    width: 100px;
    font-size: 18px;
    font-weight: 900;
    color: red
}

.main {
    width: 100px;
    font-size: 18px;
    font-weight: 900;
    color: rgb(67, 87, 61);
}